/* font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif; */

*{
    font-family: 'Poppins', sans-serif; 

}

body{
    margin: 0;
    
}

h1 h2 h3 h4 h5 h5 h6 {
    font-family: 'Lora', serif;
    margin: 0;

}

h1{
    font-size: 4.768rem;
    
    color:rgb(32, 32, 32);
}
h2{ 
    font-size: 3.815rem;
    
}
h3{
    font-size: 3.052rem;
    margin-bottom: 40px;
    
}
h4{
    
    font-size: 2.441rem;
    color: red;
    
}
h5{
    
    font-size: 1.953rem;
}
h6{
   
    font-size: 1.563rem;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color:rgb(18, 19, 18);

}
header{
    background-color: darksalmon;
    height: 100px;
    padding: 0 30px;
    /* Flexbox properties */
    justify-content: space-between;
    align-items: center;
}
section{
    border: 2px red solid;
    padding: 1.6rem;
}

blockquote{
    font-size: 2rem;
    color: lightcyan;
}

/* Links */ 


/* CTA Button */
a.cta-button:link,
a.cta-button:visited{
    background-color: orangered;
    border-radius: 8px;
    color: rgb(100, 83, 83);
    padding: 16px 24px;
}
a.cta-button:hover{
    background-color: tomato;
}
a.cta-button:active{
    background-color: darkred;
}

/* class css */

.card{
    width: 200px;
    background-color: cornsilk;

}

/* CTA Button Rounded */

a.cta-button-rounded:link,
a.cta-button-rounded:visited{
    color: #131045;
    background-color: white;
    border: 3px solid #131045;
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 4px 4px 0 #131045;  

}

a.cta-button-rounded:hover{
    color: #2923a0;
    border: 3px solid #2923a0;
    box-shadow: 4px 4px 0 #2c29de; 
}
a.cta-button-rounded:active{
    color: #7bde29;
    border: 3px solid #7bde29;
    box-shadow: 4px 4px 0 #7bde29
}


/* CV Button */
a.cv-button:link,
a.cv-button:visited{
    padding: 8px 16px;
    backroundground-color: rgb(88, 95, 88);
    border-radius: 8px;
    color: white

}
a.cv-button:hover{
    background-color: darkorange;
    color: white

}
a.cv-button:active{
    background-color: violet;
    color: white
}

/* Classes */
.container{
    display: flex
}
.card{
    width: 300px;
    height: 400px;
    background-color: cornsilk;
    border-radius: 24px;

}
.card > div{
    margin: 16px
}

/* ID's */
#hero {
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    background-size: cover;
    height: 400px;
    text-align: center;

}

#cards {
    justify-content: space-between;

}

#testimonials{
    margin: 3rem;
    box-sizing: border-box;
    background-color: cadetblue;

}

#features{
    justify-content: space-between;

}

#contact-us{

}

